<div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md">
  <%= image %>

  <div class="p-5">
    <% if post.subtitle.present? %>
      <p class="mb-3 text-base font-normal text-gray-700">
        <%= post.subtitle %>
      </p>
      <%= edit_action %>
      <%= delete_action %>
    <% end %>
  </div>
</div>
