<div class="border-b border-gray-200 flex justify-center">
  <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500">
    <% items.each do |item| %>
      <%= item %>
    <% end %>
  </ul>
</div>
