<div class="border-b border-gray-200 flex justify-center fixed bottom-0 left-0 right-0 z-20 bg-gray-50">
  <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500">
    <% items.each do |item| %>
      <%= item %>
    <% end %>
  </ul>
</div>
