<div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md">
  <%= image %>
  <%= render Posts::ActionsComponent.new(post: post, current_user: user) %>
  <%= render Posts::OwnerActionsComponent.new(post: post, current_user: user) %>
</div>
