<div class="w-full">
  <%= turbo_frame_tag post do %>
    <p class="text-base font-normal text-gray-700"><%= post.subtitle %></p>

    <div class="w-full flex justify-end gap-2">
      <% if show_action?(rule: :edit?) %>
        <%= edit_action %>
      <% end %>

      <% if show_action?(rule: :destroy?) %>
        <%= delete_action %>
      <% end %>
    </div>
  <% end %>
</div>
