<div class="grid grid-cols-1 gap-4 justify-items-center my-10 bg-gray-50">
  <%= render Posts::CardComponent.with_collection(posts, user: user) %>
</div>

<%= render Application::NavbarComponent.new(current_user: user, current_controller: controller) %>
