<div class="flex flex-row gap-6 border-t border-gray-100 py-6">
  <div class="flex flex-1 justify-end">
    <div class="flex flex-row gap-3">
      <%= render(Action::ButtonComponent.new(tag: :link, href: new_post_path)) { "New post" } %>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 gap-4 justify-items-center">
  <% posts.each do |post| %>
    <%= render Structure::CardComponent.new do |card| %>
      <% card.image { url_for(post.image) } if post.image.attached? %>
      <% card.subtitle { post.subtitle } %>
    <% end %>
  <% end %>
</div>
