<%# meta_tags %>

<h2>New Post</h2>

<%= form_with(model: post) do |f| %>
  <div class="field">
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.text_field :subtitle %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
